<div class="container">
    <h1 class="title">Our Technicians</h1>
    <div class="card">
        <p-tabs value="0" scrollable>
            <p-tablist>
                <ng-template #previcon>
                    <i class="pi pi-minus"></i>
                </ng-template>
                <p-tab value="0" class="flex items-center !gap-2">
                    <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle"/>
                    <span class="font-bold whitespace-nowrap">Connor Schuler</span>
                </p-tab>
                <p-tab value="1" class="flex items-center !gap-2">
                    <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png" shape="circle" />
                    <span class="font-bold whitespace-nowrap">Wyatt</span>
                </p-tab>
                <ng-template #nexticon>
                    <i class="pi pi-plus"></i>
                </ng-template>
            </p-tablist>
            <p-tabpanels>
                <p-tabpanel value="0">
                    <p class="m-0">
                        Hey there! I'm Connor. I founded and built this site, hoping to bridge the technical skills gaps I see all the time. I hold many industry certifications, ranging from troubleshooting, to Windows, to Mac, to Linux. I also came top in the state for the SkillsUSA Internetworking competition. I specialize in 
                    </p>
                    <p-button routerLink="/technicians/connor">See full page!</p-button>
                </p-tabpanel>
                <p-tabpanel value="1">
                    <p class="m-0">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
                        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                        dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius
                        modi.
                    </p>
                    <p-button routerLink="/technicians/wyatt">See full page!</p-button>
                </p-tabpanel>
            </p-tabpanels>
        </p-tabs>
    </div>
</div>