<div class="container">
    <div class="titlecard">
        <h1 class="title">True Technology Support</h1>
        <h3 class="subtitle">Trained technicians, no scripts, just straight tech support. Because every situation is unique, there is no one-size fits all solution.</h3>
        <div class="buttons">
            <p-button class="button" severity="primary">View Our Technicans</p-button>
            <p-button class="button" severity="primary">See Our Work</p-button>
        </div>
    </div>
</div>