.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: rgb(20,200,255);
}

.titlecard {
    padding: 100px;
    margin: auto;
    width: 50%;
}

.title {
    text-align: center;
    color: rbg( 255,200,20);
    font-size: 3rem;
    margin: 0;
}

.subtitle {
    text-align: center;
    color: rbg(255,200,20);
}

.buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.button {
    justify-content: center;
    align-items: center;
}